schemas/fin.fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:fin.fault" targetNamespace="urn:fin.fault"
           elementFormDefault="qualified">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="QueryFaultResponse" type="QueryFaultResponseV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QueryFaultResponseV01">
        <xs:sequence>
            <xs:element name="QueryFault" type="QueryFault"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QueryFault">
        <xs:sequence>
            <xs:element name="FaultString" type="Max256Text" maxOccurs="1"/>
            <xs:element name="ErrorCode" type="ErrorCode" maxOccurs="1"/>
            <xs:element name="ValidationError" type="Max256Text" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ErrorCode">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="8"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>